<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>TBH<span>.</span><span class="blogTitle">blog</span></h3>
              <p id="contactInfo">
				<script>
					var eml = 'to' + 'ry' + '@' + 'tb' + 'hinnovation' + '.c' +'om';
				document.getElementById("contactInfo").innerHTML = 'Sea'+'ttle W'+'A<br>U'+'SA<br><br><strong>Email: </strong>' + '<a href="mai' + 'lto:' + eml +'">' + eml + '</a>' + '<br>';
				</script>
              </p>
              <div class="social-links mt-3">
                <a href="https://github.com/borsboomT" class="github"><i class="bx bxl-github"></i></a>
                <a href="https://www.linkedin.com/in/tory-borsboom-hanson-795190146/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
				<a href="https://twitter.com/TBH_forReal" class="twitter"><i class="bx bxl-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright" id="copyright">

      </div>
      <div class="credits">
        
      </div>
    </div>
  </footer><!-- End Footer -->