/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
.site-header {
  background: rgba(13, 14, 31, 0.8);
}

.site-title {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.site-title a {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(13, 14, 31, 0.7);
}
.site-title a span {
  color: #2f99c6;
  text-shadow: 2px 2px 5px rgba(13, 14, 31, 0.7);
}
.site-title img {
  max-height: 40px;
}


// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

